*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    border: 2px solid brown;
    height: 90px;
    width: 90px;
    padding: 14px 14px;
    margin: 15px 5px 5px 0px;
}
.btn{
    padding: 15px;
    border: 2px solid green;
}
.btn:hover{
background-color: cornsilk;
transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}